.error {
  color: red;
  margin-bottom: 10px;
}

form {
}

form div {
  margin-bottom: 10px;
}

form label {
  display: block;
}

form input,
form textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.text-input {
  border: 1px solid #83bbcc; /* Replace #000 with the desired border color */
}

form button {
  padding: 10px;
}

.submit-button {
  text-align: center;
  width: 20%;
  border-radius: 10px;
  background-color: #83bbcc;
  border-color: #83bbcc;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: 0 auto 20px;
}

.submit-button:hover {
  background-color: #3f5b63;
  border-color: #3f5b63;
}
